
.DS_Store
.gradle/

.idea/caches/
.idea/gradle.xml
.idea/libraries/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml


LICENSE

/build
qapm-sample.iml
qapm-core.iml
m_adr_qapm_open_source.iml
ext-args.txt

local.properties
